{# TEMPLATE VAR SETTINGS #}
{%- set url_root = pathto('', 1) %}
{%- if url_root == '#' %}{% set url_root = '' %}{% endif %}
{%- if not embedded and docstitle %}
  {%- set titlesuffix = " &mdash; "|safe + docstitle|e %}
{%- else %}
  {%- set titlesuffix = "" %}
{%- endif %}

<!DOCTYPE html>
<html lang="en" data-ng-controller="AppCtrl">
	<head>
		{% block htmltitle %}
		<title>{{ title|striptags|e }}{{ titlesuffix }}</title>
		{% endblock %}

		{# FAVICON #}
		{% if favicon %}
		<link rel="shortcut icon" href="{{ pathto('_static/' + favicon, 1) }}"/>
		{% endif %}

		{# OPENSEARCH #}
		{% if not embedded %}
		{% if use_opensearch %}
		<link rel="search" type="application/opensearchdescription+xml" title="{% trans docstitle=docstitle|e %}Search within {{ docstitle }}{% endtrans %}" href="{{ pathto('_static/opensearch.xml', 1) }}"/>
		{% endif %}
		{% endif %}

		{%- block linktags %}
		<link rel="" title="{{ docstitle|e }}" href="{{ pathto('index') }}"/>
		{%- if parents %}
		<link rel="" title="{{ parents[-1].title|striptags|e }}" href="{{ parents[-1].link|e }}"/>
		{%- endif %}
		{%- if next %}
		<link rel="next" title="{{ next.title|striptags|e }}" href="{{ next.link|e }}"/>
		{%- endif %}
		{%- if prev %}
		<link rel="prev" title="{{ prev.title|striptags|e }}" href="{{ prev.link|e }}"/>
		{%- endif %}
		{%- endblock %}

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% include "iotf-common.html" %}

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="{{ pathto('_static/css/iotf.css', 1) }}" />

		<!-- HTML5shim and Respond.js for IE8  support of HTML5 elements and media queries-->
		<!-- WARNING: Respond.js doesn't  work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv /3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif] -->
	</head>

	<body>
        <div class="iotf-gradient-1 iotf-white-1">
    		<nav class="navbar navbar-static-top iotf-gradient-1 iotf-main-nav" data-role="navigation">
    			<div class="container-fluid">
    				<div class="row">
    					<div class="col-md-10 col-md-push-1">
    						<!-- Main Navigation -->
    						<div class="row">
    							<div class="col-xs-12">
    								<div data-iotc-root-navigation data-user="user"></div>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</nav>
        </div>

		<div id="allContent" class="container-fluid">
			<div class="row">
				<!-- MAIN COLUMN  -->
				<div id="mainContent" class="col-xs-12 col-md-12">
					<div class="col-sm-4 col-md-3 sidebar doc-nav-content iotf-gradient-1">
						{% set toctree = toctree(maxdepth=2, collapse=True, includehidden=True) %}
						{% if toctree %}
						{{ toctree }}
						{% else %}
						<!-- LocalTOC-->
						<div>{{ toc }}</div>
						{% endif %}
						
						<div data-iotc-language-selector data-model="language"></div>
					</div>
					<div class="col-sm-8 col-md-9 main doc-main-content" style="background-color:#fff">
						{% include "breadcrumbs.html" %}
						<div role="main">
						{% block body %}{% endblock %}
						</div>
						{% if next or prev %}
						<div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
							<div class="row footer-next-padding">
								<div class="col-xs-6 col-md-6">
									{% if prev %}
									<a href="{{ prev.link|e }}" class="btn btn-primary" title="{{ prev.title|striptags|e }}"><span class="fa fa-arrow-circle-left"></span> Previous</a>
									{% endif %}
								</div>
								<div class="col-xs-6 col-md-6 custom-next-btn-align">
									{% if next %}
									<a href="{{ next.link|e }}" class="btn btn-primary custom-next-btn" title="{{ next.title|striptags|e }}">Next <span class="fa fa-arrow-circle-right"></span></a>
									{% endif %}
								</div>
							</div>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
            <div class=footer-push></div >
		</div >
        <div data-iotc-footer></div>
		<!-- jQuery  (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{ pathto('_static/js/jquery/dist/jquery.min.js', 1) }}"></script>
		<!-- Include all compiled plugins (below),  or include individual files as needed -->

	</body>
</html>
